.git
.github
BirdSongs
installation-*.txt
node_modules
**/__pycache__
*.pyc
.ruff_cache
.venv
**/vendor
webui/tests
webui/playwright.config.ts
webui/phpunit.xml.dist
webui/frontend/dist
**/.phpunit.cache
**/test-results
**/playwright-report
dev-data
docker-compose.dev.yml
