{
	admin off
	auto_https off
}

:8080 {
	root * /home/birdnet/BirdSongs/Extracted

	handle /stream {
		reverse_proxy localhost:8000
	}
	handle /stats* {
		reverse_proxy localhost:8501
	}

	handle /api/* {
		php_fastcgi unix//run/php/php-fpm.sock {
			try_files /webui/backend/public/index.php
		}
	}

	handle /By_Date* {
		file_server browse
	}
	handle /Charts* {
		file_server browse
	}
	handle /StreamData* {
		file_server browse
	}
	handle /Processed* {
		file_server browse
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
